/*===================== Premery bg color =====================*/
:root {
	--color-primary: #ae4384;
	--color-secondry: #e21f26;
	--color-hover: #63244a;
	--rgba-primary-1: rgba(173,67,131,0.1);
	--rgba-primary-2: rgba(173,67,131,0.2);
	--rgba-primary-3: rgba(173,67,131,0.3);
	--rgba-primary-4: rgba(173,67,131,0.4);
	--rgba-primary-5: rgba(173,67,131,0.5);
	--rgba-primary-6: rgba(173,67,131,0.6);
	--rgba-primary-7: rgba(173,67,131,0.7);
	--rgba-primary-8: rgba(173,67,131,0.8);
	--rgba-primary-9: rgba(173,67,131,0.9);
	--text-sec:#2d3239;
}
